html {
  box-sizing: border-box;
  

}

*,
*::before,
*::after {
  box-sizing: inherit;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.logo {
  display: flex;
  font-family: 'Rock Salt', sans-serif;
  font-size: 3.5em;
  color: rgb(149, 231, 223);
  justify-content: center;
}
h1 {
  text-shadow: rgb(248, 246, 239);
}


.welcome {
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  text-align: center;
  color: rgb(174, 228, 222);
}

ul {
  list-style-type: none;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: dotted 1px rgb(154, 230, 222);
  font-weight: bold;
  padding: 10px;
  background:transparent 10%;
}

.navbar > li {
  font-family: inherit;
  padding: 10px;
  
}

.navlink  {
  color: turquoise;
  text-decoration: none;
}

.form-wrapper {
  box-shadow: -1px -1px 4px rgba(4, 156, 136, 0.2);
  padding: 10px;
  width: 70vw;
  margin-left: 15vw;
  border-radius: 3px;
  background: rgb(252, 252, 252);
}

form {
  display: flex;
  flex-direction: column;
}
label {
  display: flex;
  font-size: 0.8em;;
  padding: 5x;
  margin: 5px;
  align-items: center;
  justify-content: space-between;
}
input {
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  border: none;
  box-shadow: -1px -1px 4px rgba(3, 82, 71, 0.2);
  transition-duration: 0.5s;
}

input:hover{
  box-shadow: -1px -1px 4px mediumaquamarine;
}
input:focus{
  box-shadow: -1px -1px 5px fuchsia;
  outline: none;
}

button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgb(150, 121, 167);
  color: aliceblue;
  border: 0;
  outline: none;
  padding: 0;
  border-radius: 3px;
  margin: 20px 2px 8px 2px;
  font-family: inherit;
  font-size: 1em;
  font-weight: bold;
  transition-duration: 0.7s;
}

button:hover {
  background: linear-gradient(45deg, turquoise, fuchsia);
  transition-duration: 0.4s;
}



svg {
  fill: rgb(252, 252, 252);
}

@media only screen and (min-width: 450px) {
  .navbar {
    flex-direction: row;
  }

}
